.detalle{
display: flex;
/* justify-content: space-around; */
justify-items: center;
    width: 25vh;
    min-height: 25vh;
    background-image: url(../../img/nervous-dog-spinning.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .loading{
    width: 100%;
    display: flex;
    justify-items: center;
} */