.Navbar{
    background-color: grey;
    display: flex;
    flex-direction: row;
    height: 5vw;
    justify-content: space-evenly;
    align-items: center ;
}

button{
    width: 5vw;
    height: 3vw;
}

input {
    height: 2vw;
}


